<div id="<%= dom_id grade %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Enrollment:</strong>
    <%= grade.enrollment.code %> - <%= grade.enrollment.student.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Exam:</strong>
    <%= grade.exam.subject.name %> - <%= grade.exam.realized_on %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= grade.value %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this grade", grade, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this grade', edit_grade_path(grade), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
