<div id="exams" class="min-w-full ">
  <div class="rounded-xl overflow-auto">
    <table class="border-collapse table-auto w-full text-sm">
      <thead>
        <tr>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Course</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Subject</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Realized on</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap"></th>
        </tr>
      </thead>
      <tbody>
        <% exams.each do |exam| %>
          <tr>
            <td class="border px-8 py-4 w-full whitespace-nowrap"><%= exam.course.year %> - <%= exam.course.name %></td>
            <td class="border px-8 py-4 w-full whitespace-nowrap"><%= exam.subject.name %></td>
            <td class="border px-8 py-4 w-full whitespace-nowrap"><%= exam.realized_on %></td>
            <td class="border px-8 py-4 whitespace-nowrap">
              <%= link_to 'Show', exam, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
              <%= link_to 'Edit', edit_exam_path(exam), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
